@media (max-width: 1024px) {
    .cabecalho {
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        padding: 50px 0;
    }

    .cabecalho .menu li a {
        padding: 15px;
    }

    .home .informacoes {
        padding: 40px;
    }

    .home .informacoes img {
        max-width: 100px;
    }

    .home .informacoes .titulo {
        font-size: 40px;
    }

    .compre_ja .cartao {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .compre_ja {
        padding: 30px;
    }

    .compre_ja .cartao {
        padding: 80px 20px;
        width: 100%;
    }

    .compre_ja .informacoes h3 {
        font-size: 35px;
    }

    .compre_ja .cartao_informacoes .cartao_plataformas {
        flex-direction: column;
    }

    .btn_plataforma {
        margin-top: 15px;
        padding: 35px;
    }

    .btn_comprar {
        width: 90%;
        border-radius: 10px;
    }
}

@media (max-width: 425px) {
    main::after {
        background-color: linear-gradient(
            90deg, 
            rgba(0, 0, 0, 0.85), 
            rgba(0, 0, 0, 0.4)100%,
            transparent 65%);
    }

    .compre_ja .cartao .cartao_imagem {
        max-width: 80%;
    }
}